{% extends 'portfolio/base.html' %}

{% block content %}

    {% if forms.errors %}

    <br/>
    <p>Your username and password didn't match. Please try again</p>

    {% endif %}

    <br />
    <br />
    <form method="POST" action="{%url 'login' %}">

        {{ form.as_p}}
        {% csrf_token %}

        <input type="submit" value="login" class="btn btn-primary"/>
        <input type="hidden" value="{{ next}}"/> <br/> <br />

        <button><a href="{%url 'password_change' %}">Change Password</a></button>

    </form>

{% endblock %}




